torch
torchvision
transformers
accelerate

diffusers
safetensors

opencv-python
deepface
Pillow

numpy
pandas
scipy
scikit-learn

matplotlib
seaborn
plotly

requests
tqdm

mtcnn
retina-face

tensorflow
tf_keras
keras

pyyaml

sentencepiece
protobuf
accelerate