accelerate @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_accelerate_1754601451/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1649013154501/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1751626463503/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1691763562544/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1741918516150/work
auto-sklearn @ file:///home/conda/feedstock_root/build_artifacts/auto-sklearn_1735835115828/work
bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1706215790147/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1648883617327/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1754231422783/work/certifi
cffi @ file:///croot/cffi_1736182485317/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1734858813237/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1736947526808/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
ConfigSpace @ file:///croot/configspace_1721739553792/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1652954513473/work
cycler==0.12.1
Cython @ file:///home/conda/feedstock_root/build_artifacts/cython_1652809236105/work
cytoolz==0.11.2
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1714636356238/work
datasets @ file:///home/conda/feedstock_root/build_artifacts/datasets_1746740462479/work
Deprecated @ file:///home/conda/feedstock_root/build_artifacts/deprecated_1737986966356/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1706434688412/work
distributed @ file:///home/conda/feedstock_root/build_artifacts/distributed_1708967079660/work
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1734729835256/work
emcee @ file:///home/conda/feedstock_root/build_artifacts/emcee_1734122663166/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1755216263872/work
fonttools==4.60.1
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1648771673823/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1741403990995/work
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1641732907770/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hf-xet @ file:///croot/hf-xet_1755725946166/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
huggingface_hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1756439529165/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
importlib_resources==6.5.2
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1748019130050/work
kiwisolver==1.4.7
liac-arff @ file:///home/conda/feedstock_root/build_artifacts/liac-arff_1734952879699/work
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
lz4 @ file:///croot/lz4_1736366683208/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1648737556467/work
matplotlib==3.9.4
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1648745988851/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1648882420423/work
multiprocess @ file:///home/conda/feedstock_root/build_artifacts/multiprocess_1647855906891/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1698504735452/work
numpy @ file:///croot/numpy_and_numpy_base_1755590845055/work/dist/numpy-1.26.4-cp39-cp39-linux_x86_64.whl#sha256=641b4818707426ce13085d0663afd114e52d18774e2d6562d0519b2a0a55a5d9
opentelemetry-api @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-api_1753839774149/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas==1.4.2
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1715026491486/work
pillow @ file:///croot/pillow_1752524526621/work
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1653089170447/work
pyarrow @ file:///croot/pyarrow_1756839868845/work/python
pyarrow-hotfix @ file:///home/conda/feedstock_root/build_artifacts/pyarrow-hotfix_1745605861230/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pynisher @ file:///home/conda/feedstock_root/build_artifacts/pynisher_1614245438395/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1753873557/work
pyrfr @ file:///home/conda/feedstock_root/build_artifacts/pyrfr_1649574049771/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1648757097602/work
regex @ file:///home/conda/feedstock_root/build_artifacts/regex_1650839923298/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1755614211359/work
safetensors @ file:///croot/safetensors_1741361308036/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1630910541692/work
scipy @ file:///croot/scipy_1733756309941/work/dist/scipy-1.13.1-cp39-cp39-linux_x86_64.whl#sha256=3b247b926209f2d9f719ebae39faf3ff891b2596150ed8f8349adfc3eb19441c
seaborn==0.13.2
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smac @ file:///home/conda/feedstock_root/build_artifacts/smac_1663798415711/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1738440353519/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1745946051654/work
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1743515515538/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
tokenizers @ file:///croot/tokenizers_1741370336077/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1733736030883/work
torch @ file:///croot/libtorch_1751464468084/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1648827245914/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
transformers @ file:///home/conda/feedstock_root/build_artifacts/transformers_1755135050945/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1751643513/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1651495236231/work
xxhash @ file:///home/conda/feedstock_root/build_artifacts/python-xxhash_1649442461072/work
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1745598038694/work
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1648966524636/work
zict @ file:///home/conda/feedstock_root/build_artifacts/zict_1733261551178/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
zstandard @ file:///home/task_175818883819043/conda-bld/zstandard_1758189072978/work
